node_modules/
target/
.gemini/
*.log
# database/*.db
# database/*.db-journal
# database/*.db-wal
# database/*.db-shm
.idea/
.vscode/
build/
bin/
obj/
*.user
*.suo
.vs/
.env
Antigravity-x64
Antigravity.tar.gz
start-all.sh
test.sh
start-all.bat
stop-all.bat